.layout_post>#post {
    background-color: rgba(255, 255, 255, .5);
}

#aside-content .card-widget #recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{
    background-color: rgba(255, 255, 255, .5);
}

:root{
    --card-bg: rgba(255,255,255,.5);
}

#footer {
    background-color: rgba(255,255,255,.5);
}